:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray: rgb(63, 61, 61);
    --color-red: rgb(156, 117, 114);
    --color-light-gray: rgb(182, 182, 187);
    --color-light: rgb(250, 203, 116);

    --spacing-ultrasm: 5px;
    --spacing-sm: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;

    --margin-list: 7px;
    --width-max: 1200px;

    --transition: 0.4s;
    --text-shadow-yellow: 0 0 2px var(--color-white),
        0 0 40px var(--color-white);

    --border-radius-sm: 3px;
    --border-radius-medium: 5px;

    --font-bold: 600;
    --font-size-header: 26px;
    --font-size-subheader: 18px;
    --font-size-main: 16px;
    --font-family-main: sans-serif;

    /* THEME */
    /* --theme-default-bgimg: url(@static/bg.jpg); */

    --theme-behaviorism-header: rgb(209, 108, 41);
    --theme-psychoanalysis-header: rgb(187, 61, 38);
    --theme-humanistic-header: rgb(251, 233, 211);

    --theme-default-header: var(--theme-humanistic-header);

    --theme-behaviorism-bgimg: rgb(250, 203, 116);
    --theme-psychoanalysis-bgimg: #b497b8;
    --theme-humanistic-bgimg: rgb(182, 182, 187);

    --theme-default-bgimg: var(--theme-humanistic-bgimg);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--theme-default-bgimg);
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    /* background-image: var(--theme-default-bgimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed; */
}

img {
    display: block;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-size-header);
    /* text-shadow: 0 0 2px var(--color-black); */
    color: var(--theme-default-header);
    transition: var(--transition);
}
