.wrapper {
    margin-top: 27px;
}
.person__name {
    font-size: var(--font-size-header);
    font-weight: var(--font-bold);
    color: var(--color-black);
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-medium);
}
